/*
    更多详情请参见https://github.com/hyacinthee/web_tasks/blob/master/F0/README.md
 */
/*********************以下为网页整体部分********************/

/*消除所有标签的margin属性*/
* {
    margin: 0px;
}

/*设置网页背景，加入图片*/
#back_ground {
    width: 100%;
    height: auto;
    background-image: url("../picture/backGround.jpg");
}


/*********************以下为网页顶部********************/
#top {
    background-color: black;
    height: 50px;
    width: 100%;
}

/*********************以下为网页主体********************/
#body {
    margin: 50px auto;
    background-color: white;
    width: 50%;
    height: 503px;
    /*以下设置body标签的透明属性*/
    filter: alpha(opacity=50);
    opacity: 0.75;
}

#welcome {
    text-align: center; /*居中*/
    font-size: 20px;
}

#inputText {
    margin-left: 25%;
    margin-right: 25%;  /*左右各缩进25%*/
    text-align: center; /*居中*/
}

#information {
    text-align: center; /*居中*/
}

/*********************以下为网页底部部分********************/
#bottom {
    width: 100%;
    height: 50px;
    background-color: black;
}

