/*******************以下是第一页的部分*********************/
.pageOne-sm {
    height: 750px;
}

.pageOne-xs {
    height: 550px;
}

.bgimg-sm {
    height: 750px;
    width: 100%;
    position: absolute;
    background-position: bottom center;
    background-size: cover;
}

.bgimg-xs {
    height: 550px;
    width: 100%;
    position: absolute;
    background-position: bottom center;
    background-size: cover;
}

#bgimg-sm {
    background-image: url("http://ots2ozzjq.bkt.clouddn.com/image/hyacinthee/web_tasks/F1/backGround.jpg");
}
#bgimg-xs {
    background-image: url("http://ots2ozzjq.bkt.clouddn.com/image/hyacinthee/web_tasks/F1/backGround.jpg");
}

.headh1content {
    margin-top: 150px;
    line-height: 75px;
}

.headfontsize h1 {
    font-family: 楷体;
    font-size: 50pt;
    color: white;
}

.headfontsize p {
    color: white;
}

/*******************以下是第二页的部分*********************/

.pageTwo {
    padding: 2px 0 0 2px;
    height: auto;
    position: relative;
}

.pageTwo-text {
    width: 100%;
    text-align: center;
}

.pageTwo-text-h1 {
    margin-bottom: 0px;
}

.pageTwo .row {
    margin-right: 0px;
    margin-left: 0px;
}

.pageTwo-courses{
    float: left;
    background: white;
    padding: 0 2px 2px 0;
    position: relative;
    overflow: hidden;
}

.pageTwo-courses a{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.classicon h3{
    margin-top: 20%;
    color: #d1e973;
}

.classicon h1{
    color: #fff5e1;
}

.classicon{
    width: 100%;
    height: 100%;
    position: absolute;    /*使用绝对布局将文字覆盖在图片上*/
    left: 0;
    top: 0;
    color: #fff;
    opacity: 0;    /*设置透明度为0*/
}

.classicon:hover{
    background: #1eb450;
    opacity: 0.75;
    transition: opacity 0.6s;  /*设置透明度变化效果，持续时间0.5s*/
    -moz-transition: opacity 0.6s; /* Firefox 4 */
    -webkit-transition: opacity 0.6s; /* Safari 和 Chrome */
    -o-transition: opacity 0.6s; /* Opera */
}

/*******************以下是第三页的部分*********************/

.pageThree-text{
    margin: 2px;
    position: relative;
}

.stu-input,.stu-change,.stu-delete,.stu-list,.stu-search{
    /*position: absolute;*/
    /*top:0;*/
    display: none;
}

/**********设置警告栏************/
.warningLabel{
    font-size: 14px;
    height:28px;
    line-height:28px;
    overflow:hidden;
}

.check-text{
    margin-top: 50px;
    margin-bottom: 50px;
}
